:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
}

a {
  font-weight: 500;
  color: #10b981;
  text-decoration: inherit;
}

a:hover {
  color: #059669;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 600;
  background-color: #0f172a;
  color: white;
  cursor: pointer;
  transition: all 0.2s;
}

button:hover {
  background-color: #1e293b;
}
